<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @team.venue %>
</p>

<p>
  <strong>Table position:</strong>
  <%= @team.table_position %>
</p>

<p>
  <strong>Team members:</strong>
  <%= @team.team_members %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
